<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary btn-block generalMagin">Caja</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-block generalMagin">
        Atencion al usuario
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-block generalMagin">Servicio</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-block generalMagin">Etc....</button>
    </div>
  </div>
</div>
